.wwd-wrapper {
    position: relative;
}

.wwd-container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.wwd-head {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 75%;

}

.wwd-blocks {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.wwd-block {
    flex: 1;
    flex-direction: column;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    box-shadow: var(--shadow);
    border-radius: 2rem;
}

.block-features {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
     
}

.block-feature {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    border: 1px solid hsla(0, 0%, 59%, 0.17);
    padding: 1rem;
    border-radius: 1rem;

    color: var(--title-color);
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 500;

    height: fit-content;
}

.wwd-block:nth-child(1) > .block-features > :nth-child(2) {
    margin-top: 3rem;
}

.wwd-block:nth-of-type(2) > .block-features > :nth-child(1),
.wwd-block:nth-of-type(2) > .block-features > :nth-child(3) {
    margin-top: 2rem;
}

.wwd-support {
    position: relative;
    display: flex;
    padding: 4rem;
    padding-right: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    margin-top: 3rem;
    background-color: white;
}

.support{
    margin-top: 10rem;
}

.sec-title {
    align-items: center;
    margin-right: auto;
}
.wwd-text {
    display: flex;
    /* margin-left: 2rem;
    margin-right: 2rem; */
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
}

.wwd-text-left {
    display: flex;
    flex-direction: column;
}

.wwd-text-right {
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
}

.fs-image {
    background-image: url("/wwd-fs.jpg");
}

.fe-image {
    background-image: url("/wwd-fe.jpg");
}

.be-image {
    background-image: url("/wwd-be.jpg");
}

.wwd-image {
 height: 170px;
 width: 170px;
 background-repeat: no-repeat;
 clip-path: circle(50% at 50% 50%);
 border-radius: 50%;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 border: 3px solid black;
}

.wwd-support > :nth-child(1){
    flex: 1;
}

.wwd-support > :nth-child(2){
    flex: 1.6;
}

@media (max-width: 990px) {
    .wwd-blocks {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .wwd-support {
        flex-direction: column;
        padding: 2rem;
        height: min-content;
    }

    .wwd-image {
        display: none;
    }

    .sec-title {
        margin-top: auto;
    }

    .wwd-text-right {
        position: relative;
        left: 3rem;
        justify-content: center;
        align-items: center;
    }


}

@media (max-width: 576px) {
    .wwd-block {

        width: 80%;
        margin: auto;

    }

    .block-features {
        flex-direction: column;
    }

    .block-feature {
        margin-top: 0rem !important;
    }
}

